<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <appSettings>
    <add key="ServerUri" value="https://beacon.nist.gov"/>
    <add key="route" value="rest/record/"/>
  </appSettings>

</configuration>